<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
     <title>Тренировочная страница д/р 11 </title>
    <style>
h1 {color: red}
p  {color: red}
body { font-family: sans-serif; background: #eee; }
</style>
<!--    <<link rel="stylesheet" href="styles.css" type="text/css">-->
</head>
<header>
    <h1>Рик Санчез </h1>
</header>
<body>

<<img src="https://static.wikia.nocookie.net/character-power/images/2/20/%D0%A0%D0%B8%D0%BA_%D0%A1%D0%B0%D0%BD%D1%87%D0%B5%D0%B71.jpg/revision/latest/scale-to-width-down/700?cb=20190129163239&path-prefix=ru"/>
<p>Рик Санчес (англ. Rick Sanchez) — один из двух главных героев американского мультсериала
    «Рик и Морти», созданного Джастином Ройландом и Дэном Хармоном.
    Рик — гениальный учёный, алкоголик, реалист, атеист и мизантроп;
    для него характерны цинизм и пренебрежение общепринятыми нормами поведения.
    Рик приходится дедушкой Морти Смиту, второму главному герою мультсериала.
    </p>

<a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%B8%D0%BA_%D0%A1%D0%B0%D0%BD%D1%87%D0%B5%D1%81"> <strong>Больше информации</strong> </a>
   <p> В мультсериале и медиафраншизе в целом появляются и другие версии Рика из параллельных миров;
    конкретный герой, приключениям которого посвящено повествование, обозначается в мультсериале как
    «Рик из вселенной C-137». В серии комикcов действует другой Рик, относящийся к измерению C-132,
    а в игре Pocket Mortys — к измерению C-123[1]. Прообразом Рика Санчеса является Эмметт Браун,
    герой кинотрилогии <strong>«Назад в будущее»</strong>; образ Рика — как и «Дока» Брауна — обыгрывает бытующий
    в массовой культуре архетип безумного учёного.</p>

<form action="/skills/">
    <input name="skill_name" />
    <input type="submit" />
</form>



</body>
<footer>Интересно как уложить подвальчик в подвальчик</footer>
</html>
